#lezioni {
  text-align: center;
  background-color: #F2F2CD;
  padding: 15px;
}
#lezioni  img {
  /* per centrare orizzontalmente */
  display: block;
  margin: 0 auto;
}
img {
  height: 100px;
}
#steps {
  text-align: center;
  padding: 15px;
}
#why {
  text-align: center;
  background-color: #F2F2CD;
  padding: 15px;
}
#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}
